body{
    margin: 0;
}
.header{
    background-image: linear-gradient(to left bottom,black,blue);
    width: 100%;
    height: 100px;

}
.left{
    background-image: linear-gradient(to right top,black,blue);
    width: 18%;
    height: 621px;
    float: left;
}
.right{
    float: left;
    height: 621px;
    width: 82%;
    background-image: linear-gradient(to right bottom,black,blue);
    color: rgb(255, 255, 255);
}
.footer{
    background-image: linear-gradient(to left top,black,blue);
    float: left;
    height: 100px;
    width: 100%;
}

.login-signup{
    padding-left: 12px;
    padding-top: 29px;
}
.btn-1{
    border-width: 1px;
    border-radius: 35%;
    background-image: linear-gradient(to right top,black,blue);
    color: white;
    margin-left: 43px;
    padding: 12px;
    width: 83px;
    outline: none;
}
.btn-1:hover{
    background-image: linear-gradient(blue,black)
}

.btn-1:active{
    background-image: linear-gradient(black,blue)
}
.btn-1::-moz-focus-inner{
    outline: none;
}
